<h1><%="$#{@advertisement.price}: #{@advertisement.title}" %></h1>
<p><%= @advertisement.body%></p>

# I get http://localhost:3000/advertisements/1 (ID)
# Shouldn't it be http://localhost:3000/advertisements/show/1 instead?
